<div class="item item-gear flexrow" data-item-id="{{id}}">

  <div class="item-name flexrow">
    <img class="item-roll" src="{{img}}" title="{{name}}" width="24" height="24"/>
    <a class="item-roll">{{detailedName}}</a>
  </div>
  {{!-- <div class="item-detail item-quantity">{{system.qty}}</div> --}}
  <div class="item-detail item-weight">{{system.encumbrance}}</div>

  <div class="item-controls">
    {{> "systems/t2k4e/templates/actor/parts/slots/slot-buttons.hbs"}}
  </div>

</div>
