<header class="sheet-header flexrow">

    <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>

    <div class="header-details flexrow">
        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'T2KLANG.ItemSheet.Name'}}"/>
        </h1>
        <div class="item-subtitle flexcol flex-top">
            <h4 class="item-type">{{itemType}}</h4>
            <div class="item-qty flexrow flex-right">
                <input type="text" name="data.qty" value="{{data.qty}}" data-dtype="Number" />
                &times;
            </div>
        </div>
    </div>

</header>