<div class='roll-modifiers flexcol'>

  <div class='roll-modifiers-title flexrow'>
    <h4>{{localize 'T2K4E.ItemSheet.RollModifiers'}}</h4>
    <a class='button add-modifier flex0' title='{{localize "T2K4E.ItemSheet.AddRollModifier"}}'>
      {{{@root.config.Icons.buttons.plus}}}
    </a>
  </div>

  {{#each system.rollModifiers as |modifier|}}
  <div class='roll-modifier'>
    <div class='roll-modifier-name'>
      <select name='system.rollModifiers.{{@key}}.name'>
        <option value='' disabled selected>{{localize 'T2K4E.ItemSheet.SelectRollModifier'}}</option>
        <optgroup label='{{localize "T2K4E.Attributes"}}'>
          {{selectOptions @root.config.attributeOptions selected=modifier.name localize=true}}
        </optgroup>
        <optgroup label='{{localize "T2K4E.Skills"}}'>
          {{selectOptions @root.config.skillOptions selected=modifier.name localize=true}}
        </optgroup>
        <optgroup label='{{localize "T2K4E.Constants"}}'>
          {{selectOptions @root.config.constantsOptions selected=modifier.name localize=true}}
        </optgroup>
        <optgroup label='{{localize "T2K4E.Actions"}}'>
          {{selectOptions @root.config.constantsOptions selected=modifier.name localize=true}}
        </optgroup>
        <optgroup label='{{localize "T2K4E.TravelTasks"}}'>
          {{selectOptions @root.config.travelTaskOptions selected=modifier.name localize=true}}
        </optgroup>
      </select>
    </div>
    <div class='roll-modifier-value flexrow'>
      <input type='text' name='system.rollModifiers.{{@key}}.value' value='{{modifier.value}}' />
      <div class='item-controls'>
        <a class='btn btn-small delete-modifier' data-modifier-id='{{@key}}'>
          {{{@root.config.Icons.buttons.delete}}}
        </a>
      </div>
    </div>
  </div>
  {{else}}
  <div class='no-modifier'>{{localize 'T2K4E.ItemSheet.NoRollModifier'}}</div>
  {{/each}}

  {{! TODO clean this code }}
  {{!-- <h4>{{localize "T2K4E.Attributes"}}</h4>
  <div class="modifiers-list flexrow">
    {{#each system.modifiers.attributes as |value name|}}
    <div class="form-group col-6 {{#if value}}modified{{/if}}">
      <label>{{localize (concat "T2K4E.AttributeNames." name)}}</label>
      <input type="text" name="system.modifiers.attributes.{{name}}" value="{{numberFormat value sign=value}}"
        data-dtype="Number" />
    </div>
    {{/each}}
  </div>
  <h4>{{localize "T2K4E.Skills"}}</h4>
  <div class="modifiers-list flexrow">
    {{#each system.modifiers.skills as |value name|}}
    <div class="form-group col-6 {{#if value}}modified{{/if}}">
      <label>{{localize (concat "T2K4E.SkillNames." name)}}</label>
      <input type="text" name="system.modifiers.skills.{{name}}" value="{{numberFormat value sign=value}}"
        data-dtype="Number" />
    </div>
    {{/each}}
  </div> --}}
</div>