<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- ================================================== --}}
  {{!--  Actor Sheet Header                                --}}
  {{!-- ================================================== --}}

  <header class="sheet-header">

    <div class="grid-vehicle-header">

      {{!-- Header Info: IMG, NAME, TYPE --}}
      <img class="vehicle-profile" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>

      <div class="info">
        <h1 class="name">
          <input type="text" name="name" value="{{actor.name}}" placeholder="{{localize 'T2K4E.ItemSheet.Name'}}"/>
        <h2 class="type">
          <input type="text" name="system.vehicleType" value="{{system.vehicleType}}" placeholder="{{localize 'T2K4E.VehicleSheet.VehicleType'}}"/>
        </h2>
      </div>

      {{!-- Header details: REL, MOVEMENT, FUEL, etc. --}}
      <div class="header-details grid-vehicle-details">

        {{!-- MOVEMENT --}}
        <div class="movement-type flexcol">
          <label>{{localize "T2K4E.VehicleSheet.Movement"}}</label>
          <select name="system.movement.type">
            <option value=""></option>
            {{selectOptions config.vehicle.movementTypes selected=system.movement.type localize=true}}
          </select>
        </div>

        <div class="combat-speed flexcol">
          <label>{{localize "T2K4E.VehicleSheet.CombatSpeed"}}</label>
          <div class="flexrow">
            <input type="number" name="system.movement.combat.onRoad" value={{system.movement.combat.onRoad}} data-dtype="Number"/>
            <span class="sep">/</span>
            <input type="number" name="system.movement.combat.offRoad" value={{system.movement.combat.offRoad}} data-dtype="Number"/>
          </div>
        </div>

        <div class="travel-speed flexcol">
          <label>{{localize "T2K4E.VehicleSheet.TravelSpeed"}}</label>
          <div class="flexrow">
            <input type="number" name="system.movement.travel.onRoad" value={{system.movement.travel.onRoad}} data-dtype="Number"/>
            <span class="sep">/</span>
            <input type="number" name="system.movement.travel.offRoad" value={{system.movement.travel.offRoad}} data-dtype="Number"/>
          </div>
        </div>

        {{!-- FUEL --}}
        <div class="fuel-type flexcol">
          <label>{{localize "T2K4E.VehicleSheet.Fuel"}}</label>
          <div class="flexrow">
            <select name="system.fuel.type">
              <option value=""></option>
              {{selectOptions config.vehicle.fuelTypes selected=system.fuel.type localize=true}}
            </select>
            <progress class="fuel-gauge" value="{{system.fuel.value}}" max="{{system.fuel.max}}"></progress>
          </div>
        </div>

        <div class="fuel-cap flexcol">
          <label>{{localize "T2K4E.VehicleSheet.FuelCapacity"}}</label>
          <div class="flexrow">
            <input type="number" name="system.fuel.value" value="{{system.fuel.value}}" data-dtype="Number"/>
            <span class="sep">/</span>
            <input type="number" name="system.fuel.max" value="{{system.fuel.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="fuel-consumption flexcol">
          <label>{{localize "T2K4E.VehicleSheet.FuelConsumption"}}</label>
          <input type="number" name="system.fuel.cons" value={{system.fuel.cons}} data-dtype="Number"/>
        </div>

        {{!-- RELIABILITY --}}
        <div class="reliability flexcol">
          <label>{{localize "T2K4E.VehicleSheet.Reliability"}}</label>
          <div class="flexrow">
            <input type="number" name="system.reliability.value" value="{{system.reliability.value}}" data-dtype="Number"/>
            <span class="sep">/</span>
            <input type="number" name="system.reliability.max" value="{{system.reliability.max}}" data-dtype="Number"/>
          </div>
        </div>

        {{!-- PRICE --}}
        <div class="price flexcol">
          <label>{{localize "T2K4E.VehicleSheet.Price"}}</label>
          <input type="number" name="system.price" value={{system.price}} data-dtype="Number"/>
        </div>

      </div>

    </div>

  </header>

  {{!-- ================================================== --}}
  {{!--  Sheet Tab Navigation                              --}}
  {{!-- ================================================== --}}

  <nav class="sheet-tabs slanted-tabs flexrow" data-group="primary">
    {{!-- <a class="item" data-tab="features">{{localize "T2K4E.ItemSheet.FeaturesTab"}}</a> --}}
    <a class="item" data-tab="crew">{{localize "T2K4E.VehicleSheet.CrewTab"}}</a>
    <a class="item" data-tab="components">{{localize "T2K4E.VehicleSheet.ComponentsTab"}}</a>
    <a class="item" data-tab="combat">{{localize "T2K4E.VehicleSheet.CombatTab"}}</a>
    <a class="item" data-tab="cargo">{{localize "T2K4E.VehicleSheet.CargoTab"}}</a>
    <a class="item" data-tab="description">{{localize "T2K4E.ActorSheet.NoteTab"}}</a>
  </nav>

  {{!-- ================================================== --}}
  {{!--  Sheet Body                                        --}}
  {{!-- ================================================== --}}

  <section class="sheet-body">

    {{!-- Crew Tab --}}
    <div class="tab tab-crew flexcol" data-group="primary" data-tab="crew">
      {{> "systems/t2k4e/templates/actor/parts/vehicle-crew.hbs"}}
    </div>

    {{!-- Components Tab --}}
    <div class="tab tab-components" data-group="primary" data-tab="components">
      {{> "systems/t2k4e/templates/actor/parts/vehicle-components.hbs"}}
    </div>

    {{!-- Combat Tab --}}
    <div class="tab tab-combat" data-group="primary" data-tab="combat">
{{!-- DO NOT ADD INDENT: HandlebarJS+TextArea BUG --}}
{{> "systems/t2k4e/templates/actor/parts/vehicle-combat.hbs"}}
    </div>

    {{!-- Cargo Tab --}}
    <div class="tab tab-cargo flexcol" data-group="primary" data-tab="cargo">
      {{> "systems/t2k4e/templates/actor/parts/vehicle-cargo.hbs"}}
    </div>

    {{!-- Description Tab --}}
    <div class="tab tab-description" data-group="primary" data-tab="description">
      {{> "systems/t2k4e/templates/actor/parts/actor-description.hbs"}}
    </div>

  </section>

</form>
