<div class="t2k4e chat-card attack" data-item-id="{{weapon._id}}" data-owner-id="{{owner}}">
    <div class="card-content">

        <h2>{{localize "T2K4E.Chat.Attack.Title" weapon=weapon.name}}</h2>
        {{{roll}}}

        {{!-- <div class="card-name">
            <h2>{{name}}</h2>
        </div> --}}

        <div class="card-description">
        </div>

        <div class="card-buttons">
            {{#if yzroll.pushable}}
            <button class="roll-push" data-roll-id="{{yzroll._id}}">{{localize "T2K4E.Chat.Actions.Push"}}</button>
            {{/if}}
        </div>

    </div>
</div>