<div class="t2k4e chat-card gear" data-item-id="{{_id}}" data-owner-id="{{owner}}">
    <div class="card-content">

        <div class="card-name">
            <h2>{{name}}</h2>
        </div>

        <div class="card-image">
            <img src="{{img}}" alt="{{name}}"/>
        </div>

        <div class="card-description">
            {{{data.description}}}
        </div>

        {{!-- <div class="card-buttons">
            <button class="weapon-attack"><i class="fas fa-crosshairs"></i> {{localize "T2KLANG.Chat.Actions.Attack"}}</button>
            {{#if data.mag.max}}
            <button class="weapon-reload"><i class="fas fa-sync-alt"></i> {{localize "T2KLANG.Chat.Actions.Reload"}}</button>
            {{/if}}
        </div> --}}

    </div>
</div>