<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Actor Sheet Header --}}
    <header class="sheet-header flexrow">

        <div class="header-details">
            <h1>
                <input type="text" name="name" value="{{actor.name}}" placeholder="{{localize 'T2KLANG.ActorSheet.Name'}}"/>
            </h1>

            <div class="flexcol">

                {{!-- Biography Details --}}
                <div class="header-details-row flexrow">
                    <div class="flexcol col-4">
                        <h3>{{localize "T2KLANG.ActorSheet.Nationality"}}</h3>
                        <input type="text" name="data.bio.nationality" value="{{data.bio.nationality}}"/>
                    </div>
                    <div class="flexcol col-4">
                        <h3>{{localize "T2KLANG.ActorSheet.Branch"}}</h3>
                        <input type="text" name="data.bio.branch" value="{{data.bio.branch}}"/>
                    </div>
                    <div class="flexcol col-4">
                        <h3>{{localize "T2KLANG.ActorSheet.MilitaryRank"}}</h3>
                        <input type="text" name="data.bio.militaryRank" value="{{data.bio.militaryRank}}"/>
                    </div>
                </div>

                {{!-- Capacities --}}
                <div class="header-details-row flexrow">

                    {{!-- Hit Capacity --}}
                    <div class="capacity">
                        <div class="flexrow">
                            <h3>{{localize "T2KLANG.ActorSheet.HitCapacity"}}</h3>
                            <div class="capacity-value">{{data.hitCapacity}}</div>
                        </div>
                        {{> "systems/t2k4e/templates/actors/parts/capacity-boxes.hbs" value="damage" min=0 max=data.hitCapacity}}
                    </div>

                    {{!-- Stress Capacity --}}
                    {{#if (eq actor.type 'character')}}
                    <div class="capacity">
                        <div class="flexrow">
                            <h3>{{localize "T2KLANG.ActorSheet.StressCapacity"}}</h3>
                            <div class="capacity-value">{{data.stressCapacity}}</div>
                        </div>
                        {{> "systems/t2k4e/templates/actors/parts/capacity-boxes.hbs" value="stress" min=0 max=data.stressCapacity}}
                    </div>
                    {{/if}}

                </div>

            </div>

        </div>

        <div class="flex0 flexcol">
            <img class="profile" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
            <div>
                <h3>{{localize "T2KLANG.ActorSheet.Experience"}}</h3>
                <div class="flexrow flex-between">
                    <h5>{{localize "T2KLANG.ActorSheet.ExperienceCurrent"}}</h5>
                    <input type="number" name="data.xp.value" value="{{data.xp.value}}"/>
                    <h5>{{localize "T2KLANG.ActorSheet.ExperienceTotal"}}</h5>
                    <input type="number" name="data.xp.total" value="{{data.xp.total}}"/>
                </div>
            </div>
        </div>

        

    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs slanted-tabs flexrow flex-center" data-group="primary">
        <a class="item" data-tab="main">{{localize "T2KLANG.ActorSheet.MainTab"}}</a>
        <a class="item" data-tab="combat">{{localize "T2KLANG.ActorSheet.CombatTab"}}</a>
        <a class="item" data-tab="equipment">{{localize "T2KLANG.ActorSheet.EquipmentTab"}}</a>
        {{#if (eq actor.type 'character')}}
        <a class="item" data-tab="biography">{{localize "T2KLANG.ActorSheet.BiographyTab"}}</a>
        {{/if}}
        <a class="item" data-tab="description">{{localize "T2KLANG.ActorSheet.NoteTab"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Main Tab --}}
        <div class="tab tab-main" data-group="primary" data-tab="main">
            {{> "systems/t2k4e/templates/actors/parts/actor-stats.hbs"}}
        </div>

        {{!-- Combat Tab --}}
        <div class="tab tab-combat" data-group="primary" data-tab="combat">
            {{> "systems/t2k4e/templates/actors/parts/actor-combat.hbs"}}
        </div>

        {{!-- Equipment Tab --}}
        <div class="tab tab-equipment" data-group="primary" data-tab="equipment">
            {{> "systems/t2k4e/templates/actors/parts/actor-equipment.hbs"}}
        </div>

        {{!-- Biography Tab --}}
        {{#if (eq actor.type 'character')}}
        <div class="tab tab-biography" data-group="primary" data-tab="biography">
            <div class="flexcol">
                <h3>{{localize "T2KLANG.ActorSheet.Appearance"}}</h3>
                {{editor content=data.bio.appearance target="data.bio.appearance" button=true owner=owner editable=editable}}

                <h3>{{localize "T2KLANG.ActorSheet.Buddy"}}</h3>
                <input type="text" name="data.bio.buddy" value="{{data.bio.buddy}}"/>

                <h3>{{localize "T2KLANG.ActorSheet.MoralCode"}}</h3>
                <input type="text" name="data.bio.moralCode" value="{{data.bio.moralCode}}"/>

                <h3>{{localize "T2KLANG.ActorSheet.BigDream"}}</h3>
                <input type="text" name="data.bio.bigDream" value="{{data.bio.bigDream}}"/>

                <h3>{{localize "T2KLANG.ActorSheet.GroupMeeting"}}</h3>
                <input type="text" name="data.bio.groupMeeting" value="{{data.bio.groupMeeting}}"/>
            </div>
        </div>
        {{/if}}

        {{!-- Description Tab --}}
        <div class="tab tab-description" data-group="primary" data-tab="description">
            {{> "systems/t2k4e/templates/actors/parts/actor-description.hbs"}}
        </div>

    </section>

</form>