<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    {{!-- {{> "systems/t2k4e/templates/items/parts/item-header.hbs"}} --}}
    <header class="sheet-header flexrow">

        <div class="header-details">
            <h1>
                <input type="text" name="name" value="{{actor.name}}" placeholder="{{localize 'T2KLANG.ActorSheet.Name'}}"/>
            </h1>

            <div class="flexcol">
                <div class="header-details-row flexrow">
                    <div class="flexcol col-6">
                        <label>{{localize "T2KLANG.ActorSheet.Nationality"}}</label>
                        <input type="text" name="data.bio.nationality" value="{{data.bio.nationality}}" />
                    </div>
                    <div class="flexcol col-6">
                        <label>{{localize "T2KLANG.ActorSheet.Branch"}}</label>
                        <input type="text" name="data.bio.branch" value="{{data.bio.branch}}" />
                    </div>
                </div>
                {{#if (eq actor.type 'character')}}
                <div class="header-details-row flexrow">
                    <div class="flexcol col-6">
                        <label>{{localize "T2KLANG.ActorSheet.MilitaryRank"}}</label>
                        <input type="text" name="data.bio.militaryRank" value="{{data.bio.militaryRank}}" />
                    </div>
                    <div class="flexcol col-6">
                        <label>{{localize "T2KLANG.ActorSheet.Experience"}}</label>
                        <div class="flexrow flex-between">
                            <label class="small">{{localize "T2KLANG.ActorSheet.ExperienceCurrent"}}</label>
                            <input type="number" name="data.xp.value" value="{{data.xp.value}}" />
                            <label class="small">{{localize "T2KLANG.ActorSheet.ExperienceTotal"}}</label>
                            <input type="number" name="data.xp.total" value="{{data.xp.total}}" />
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>

        <img class="profile" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>

    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs slanted-tabs flexrow flex-center" data-group="primary">
        <a class="item" data-tab="main">{{localize "T2KLANG.ActorSheet.MainTab"}}</a>
        <a class="item" data-tab="combat">{{localize "T2KLANG.ActorSheet.CombatTab"}}</a>
        <a class="item" data-tab="equipment">{{localize "T2KLANG.ActorSheet.EquipmentTab"}}</a>
        {{#if (eq actor.type 'character')}}
        <a class="item" data-tab="biography">{{localize "T2KLANG.ActorSheet.BiographyTab"}}</a>
        {{/if}}
        <a class="item" data-tab="description">{{localize "T2KLANG.ActorSheet.NoteTab"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Main Tab --}}
        {{> "systems/t2k4e/templates/actors/parts/actor-stats.hbs"}}

        {{!-- Combat Tab --}}
        {{> "systems/t2k4e/templates/actors/parts/actor-combat.hbs"}}

        {{!-- Equipment Tab --}}
        {{> "systems/t2k4e/templates/actors/parts/actor-equipment.hbs"}}

        {{!-- Biography Tab --}}
        {{#if (eq actor.type 'character')}}
        <div class="tab tab-biography" data-group="primary" data-tab="biography">
            <div class="flexcol">
                <label>{{localize "T2KLANG.ActorSheet.Appearance"}}</label>
                {{editor content=data.bio.appearance target="data.bio.appearance" button=true owner=owner editable=editable}}

                <label>{{localize "T2KLANG.ActorSheet.Buddy"}}</label>
                <input type="text" name="data.bio.buddy" value="{{data.bio.buddy}}" />

                <label>{{localize "T2KLANG.ActorSheet.MoralCode"}}</label>
                <input type="text" name="data.bio.moralCode" value="{{data.bio.moralCode}}" />

                <label>{{localize "T2KLANG.ActorSheet.BigDream"}}</label>
                <input type="text" name="data.bio.bigDream" value="{{data.bio.bigDream}}" />

                <label>{{localize "T2KLANG.ActorSheet.GroupMeeting"}}</label>
                <input type="text" name="data.bio.groupMeeting" value="{{data.bio.groupMeeting}}" />
            </div>
        </div>
        {{/if}}

        {{!-- Description Tab --}}
        {{> "systems/t2k4e/templates/actors/parts/actor-description.hbs"}}

    </section>

</form>