<div class="t2k4e chat-card">
  <div class="card-content">
    <div class="dice-roll">
      {{#if flavor}}
      <div class="dice-flavor">{{flavor}}</div>
      {{/if}}
      <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        {{#if (eq roll.game 't2k')}}
        <h4 class="dice-total">{{roll.baseSuccessQty}}{{#if roll.ammoSpent}}&nbsp;({{roll.hitCount}}){{/if}}</h4>
        {{else}}
        <h4 class="dice-total">{{total}}</h4>
        {{/if}}
      </div>
    </div>

    {{!-- Extra info added for Year Zero rolls --}}
    {{#if showInfos}}
    {{{infos}}}
    {{/if}}

    {{!-- Push button --}}
    {{#if pushable}}
    <div class="dice-buttons">
      <button class="dice-button push" data-action="push">{{localize "YZUR.CHAT.ROLL.Push"}}</button>
    </div>
    {{/if}}
  </div>
</div>