<form class="t2k4e dialog cuf-dialog">

  {{!-- ================================================== --}}

  {{!-- Unit Morale --}}
  <div class="form-group">
    <label>{{localize "T2K4E.Dialog.CuF.UnitMorale"}}</label>
    <input type="checkbox" name="unitMorale" {{checked data.unitMorale}}/>
  </div>

  <hr/>

  {{!-- Modifier --}}
  <div class="form-group">
    <label>{{localize "T2K4E.Dialog.Roll.Modifier"}}</label>
    <div class="flexrow">
      <div class="flexrow flex1 modifier-buttons">
        <a class="button modifier-change" data-target="modifier" data-change="plus">{{{config.Icons.buttons.plus}}}</a>
        <a class="button modifier-change" data-target="modifier" data-change="minus">{{{config.Icons.buttons.minus}}}</a>
      </div>
      <input type="text" class="flex2" name="modifier" value="{{numberFormat data.modifier sign=true}}" data-dtype="Number"/>
      {{!-- <button class="btn choose-modifier">{{localize "T2K4E.Dialog.Roll.ModifierChoice"}}</button> --}}
    </div>
  </div>

  {{!-- Modifiers --}}
  <div class="form-group-stacked">
    {{#each data.modifiers}}
    <label class="checkbox" title="{{description}}">
      <input type="checkbox" class="item-modifier" data-value="{{value}}" {{checked active}}/>
      {{label}}
    </label>
    {{/each}}
  </div>

  {{!-- ================================================== --}}

  <hr/>

  {{!-- Max Pushes --}}
  <div class="form-group">
    <label>{{localize "T2K4E.Dialog.Roll.MaxPush"}}</label>
    <input type="number" name="maxPush" value="{{data.maxPush}}" min="0" data-dtype="Number"/>
  </div>

  {{!-- ================================================== --}}

  <hr/>

  {{!-- Roll Mode --}}
  <div class="form-group">
    <label>{{localize "T2K4E.Dialog.Roll.RollMode"}}</label>
    <select name="rollMode">
      {{selectOptions config.rollModes selected=data.rollMode localize=true}}
    </select>
  </div>

</form>
