<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    {{> "systems/t2k4e/templates/items/parts/item-header.hbs"}}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs slanted-tabs flexrow" data-group="primary">
        <a class="item" data-tab="features">{{localize "T2K4E.ItemSheet.FeaturesTab"}}</a>
        <a class="item" data-tab="modifiers">{{localize "T2K4E.ItemSheet.ModifiersTab"}}</a>
        <a class="item" data-tab="description">{{localize "T2K4E.ItemSheet.DescriptionTab"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Features Tab --}}
        <div class="tab tab-features" data-group="primary" data-tab="features">
            <div class="grid grid-4col item-features">
                <div class="flexcol">
                    <label>{{localize "T2K4E.ItemSheet.ItemType"}}</label>
                    <input type="text" name="data.itemType" value="{{data.itemType}}"/>
                </div>
                <div class="flexcol">
                <label>{{localize "T2K4E.ItemSheet.Reliability"}}</label>
                <div class="flexrow flex-center">
                    <input type="number" name="data.reliability.value" value="{{data.reliability.value}}" data-dtype="Number"/>
                    <span class="sep">/</span>
                    <input type="number" name="data.reliability.max" value="{{data.reliability.max}}" data-dtype="Number"/>
                </div>
                </div>
                <div class="flexcol">
                    <label>{{localize "T2K4E.ItemSheet.Weight"}}</label>
                    <input type="text" name="data.weight" value="{{numberFormat data.weight decimals=2}}" data-dtype="Number"/>
                </div>
                <div class="flexcol">
                    <label>{{localize "T2K4E.ItemSheet.Price"}}</label>
                    <input type="text" name="data.price" value="{{data.price}}" data-dtype="Number"/>
                </div>
            </div>

            {{!-- Other Parameters --}}
            <div class="features-other flexcol">

                {{!-- Used Skill --}}
                {{!-- <div class="form-group">
                    <label>{{localize "T2K4E.ItemSheet.skill"}}</label>
                    <select name="data.skill">
                        {{#select data.skill}}
                        {{#each config.skills as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div> --}}

                {{!-- Properties --}}
                <div class="form-group-stacked item-properties">
                    {{#each data.props as | prop name |}}
                    <label class="checkbox">
                        <input type="checkbox" name="data.props.{{name}}" {{checked prop}}/>
                        {{localize (concat "T2K4E.ItemPropNames." name)}}
                    </label>
                    {{/each}}
                </div>

            </div>

            {{!-- Inventory Options --}}
            {{#if inActor}}
            <div class="features-other flexcol">
                <div class="form-group">
                    <label class="checkbox">
                        <input type="checkbox" name="data.equipped" {{checked data.equipped}}/>
                        {{localize "T2K4E.ItemSheet.Equipped"}}
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox">
                        <input type="checkbox" name="data.backpack" {{checked data.backpack}}/>
                        {{localize "T2K4E.ItemSheet.StoredInBackpack"}}
                    </label>
                </div>
            </div>
            {{/if}}

        </div>

        {{!-- Modifiers Tab --}}
        <div class="tab tab-modifiers" data-group="primary" data-tab="modifiers">
            {{> "systems/t2k4e/templates/items/parts/item-modifiers.hbs"}}
        </div>

        {{!-- Description Tab --}}
        <div class="tab tab-description" data-group="primary" data-tab="description">
            {{> "systems/t2k4e/templates/items/parts/item-description.hbs"}}
        </div>

    </section>

</form>