<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    {{> "systems/t2k4e/templates/items/parts/item-header.hbs"}}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs slanted-tabs flexrow flex-center" data-group="primary">
        <a class="item" data-tab="features">{{localize "T2KLANG.ItemSheet.FeaturesTab"}}</a>
        <a class="item" data-tab="modifiers">{{localize "T2KLANG.ItemSheet.ModifiersTab"}}</a>
        <a class="item" data-tab="description">{{localize "T2KLANG.ItemSheet.DescriptionTab"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Features Tab --}}
        <div class="tab tab-features" data-group="primary" data-tab="features">
            <div class="grid grid-3col item-features">
                <div class="flexcol flex-center">
                    <label>{{localize "T2KLANG.ItemSheet.WeaponType"}}</label>
                    <input type="text" name="data.weaponType" value="{{data.weaponType}}"/>
                </div>
                {{!-- <div class="flexcol flex-center">
                    <label>{{localize "T2KLANG.ItemSheet.Ammo"}}</label>
                    <input type="text" name="data.ammo" value="{{data.ammo}}"/>
                </div> --}}
                {{!-- <div class="flexcol flex-center">
                    <label>{{localize "T2KLANG.ItemSheet.Reliability"}}</label>
                    <div class="flexrow flex-center">
                        {{> scoreSelector name="data.reliability.score" selected=data.reliability.score}}
                        <span class="sep">/</span>
                        {{> scoreSelector name="data.reliability.max" selected=data.reliability.max}}
                    </div>
                </div> --}}
                {{!-- <div class="flexcol flex-center">
                    <label>{{localize "T2KLANG.ItemSheet.RoF"}}</label>
                    <input type="text" name="data.rof" value="{{data.rof}}" data-dtype="Number"/>
                </div> --}}
                {{!-- <div class="flexcol flex-center">
                    <label>{{localize "T2KLANG.ItemSheet.Damage"}}</label>
                    <input type="text" name="data.damage" value="{{data.damage}}" data-dtype="Number"/>
                </div> --}}
                {{!-- <div class="flexcol flex-center">
                    <label>{{localize "T2KLANG.ItemSheet.Crit"}}</label>
                    <input type="text" name="data.crit" value="{{data.crit}}" data-dtype="Number"/>
                </div> --}}
                {{!-- <div class="flexcol flex-center">
                    <label>{{localize "T2KLANG.ItemSheet.Blast"}}</label>
                    {{> scoreSelector name="data.blast" selected=data.blast}}
                </div> --}}
                {{!-- <div class="flexcol flex-center">
                    <label>{{localize "T2KLANG.ItemSheet.Range"}}</label>
                    <input type="text" name="data.range" value="{{data.range}}" data-dtype="Number"/>
                </div> --}}
                {{!-- <div class="flexcol flex-center">
                    <label>{{localize "T2KLANG.ItemSheet.Mag"}}</label>
                    <div class="flexrow flex-center">
                        <input type="text" name="data.mag.value" value="{{data.mag.value}}" data-dtype="Number"/>
                        <span class="sep">/</span>
                        <input type="text" name="data.mag.max" value="{{data.mag.max}}" data-dtype="Number"/>
                    </div>
                </div> --}}
                {{!-- <div class="flexcol flex-center">
                    <label>{{localize "T2KLANG.ItemSheet.Armor"}}</label>
                    <input type="text" name="data.armorModifier" value="{{numberFormat data.armorModifier sign=true}}" data-dtype="Number"/>
                </div> --}}
                <div class="flexcol flex-center">
                    <label>{{localize "T2KLANG.ItemSheet.Weight"}}</label>
                    <input type="text" name="data.weight" value="{{numberFormat data.weight decimals=2}}" data-dtype="Number"/>
                </div>
                <div class="flexcol flex-center">
                    <label>{{localize "T2KLANG.ItemSheet.Price"}}</label>
                    <input type="text" name="data.price" value="{{data.price}}" data-dtype="Number"/>
                </div>
            </div>

            {{!-- Other Parameters --}}
            <div class="features-other flexcol">

                {{!-- Used Skill --}}
                {{!-- <div class="form-group">
                    <label>{{localize "T2KLANG.ItemSheet.AttackWith"}}</label>
                    <select name="data.attackWith">
                        {{#select data.attackWith}}
                        {{#each config.skills as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div> --}}

                {{!-- Properties --}}
                <div class="form-group-stacked item-properties">
                    <label class="checkbox">
                        <input type="checkbox" name="data.twoHanded" {{checked data.twoHanded}}/>
                        {{localize "T2KLANG.ItemSheet.TwoHanded"}}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="data.mounted" {{checked data.mounted}}/>
                        {{localize "T2KLANG.ItemSheet.Mounted"}}
                    </label>
                    {{!-- <label class="checkbox">
                        <input type="checkbox" name="data.ammoBelt" {{checked data.ammoBelt}}/>
                        {{localize "T2KLANG.ItemSheet.AmmoBelt"}}
                    </label> --}}
                    <label class="checkbox">
                        <input type="checkbox" name="data.disposable" {{checked data.disposable}}/>
                        {{localize "T2KLANG.ItemSheet.Disposable"}}
                    </label>
                </div>

            </div>

        </div>

        {{!-- Modifiers Tab --}}
        <div class="tab tab-modifiers" data-group="primary" data-tab="modifiers">
            {{> "systems/t2k4e/templates/items/parts/item-modifiers.hbs"}}
        </div>

        {{!-- Description Tab --}}
        <div class="tab tab-description" data-group="primary" data-tab="description">
            {{> "systems/t2k4e/templates/items/parts/item-description.hbs"}}
        </div>

    </section>

</form>