<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/t2k4e/templates/items/parts/item-header.hbs"}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs slanted-tabs flexrow flex-center" data-group="primary">
    <a class="item" data-tab="features">{{localize "T2K4E.ItemSheet.FeaturesTab"}}</a>
    <a class="item" data-tab="modifiers">{{localize "T2K4E.ItemSheet.ModifiersTab"}}</a>
    {{!-- <a class="item" data-tab="description">{{localize "T2K4E.ItemSheet.DescriptionTab"}}</a> --}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Features Tab --}}
    <div class="tab tab-features" data-group="primary" data-tab="features">
      <div class="grid grid-3col item-features">
        <div class="flexcol">
          <label>{{localize "T2K4E.InjurySheet.Category"}}</label>
          <select name="data.category">
            {{selectOptions config.injuryCategories selected=data.category localize=true}}
          </select>
        </div>
        <div class="flexcol">
          <label>{{localize "T2K4E.InjurySheet.Location"}}</label>
          <select name="data.location">
            {{selectOptions config.hitLocations selected=data.location localize=true}}
          </select>
        </div>
        <div class="flexcol">
          <label>{{localize "T2K4E.InjurySheet.HealTime"}}</label>
          <input type="text" name="data.healTime" value="{{data.healTime}}"/>
        </div>
      </div>

      {{!-- Other Parameters --}}
      <div class="features-other flexcol">
        <div class="flexrow">
          {{!-- <textarea name="data.description" rows="2" placeholder="{{localize "T2K4E.InjurySheet.Effect"}}">{{data.description}}</textarea> --}}
          <input type="text" name="data.description" value="{{data.description}}" placeholder="{{localize "T2K4E.InjurySheet.Effect"}}"/>
        </div>
      {{!-- </div> --}}
      {{!-- <div class="features-other flexcol"> --}}
        <div class="form-group-stacked item-properties">
          <label class="checkbox">
            <input type="checkbox" name="data.lethal" {{checked data.lethal}}/>
            {{localize "T2K4E.InjurySheet.Lethal"}}
          </label>
        </div>
        {{#if data.lethal}}
        <div class="flexrow">
          <input type="text" name="data.timeLimit" value="{{data.timeLimit}}" placeholder="{{localize "T2K4E.InjurySheet.TimeLimit"}}"/>
        </div>
        {{/if}}
      </div>
    </div>

    {{!-- Modifiers Tab --}}
    <div class="tab tab-modifiers" data-group="primary" data-tab="modifiers">
      {{> "systems/t2k4e/templates/items/parts/item-modifiers.hbs"}}
    </div>

    {{!-- Description Tab --}}
    {{!-- <div class="tab tab-description" data-group="primary" data-tab="description">
      {{> "systems/t2k4e/templates/items/parts/item-description.hbs"}}
    </div> --}}

  </section>

</form>