<div class="flexrow">

  {{!-- ARMOR --}}
  <div class="armor">
    <h3>{{localize "T2K4E.VehicleSheet.Armor"}}</h3>
    <div class="grid grid-3col">
      {{!-- Front --}}
      <label class="armor-location">{{localize "T2K4E.VehicleSheet.FrontArmor"}}</label>
      <div class="armor-values flexrow">
        <input type="number" class="boxed-value" name="data.armor.front.value" value="{{data.armor.front.value}}" data-dtype="Number"/>
        <span class="sep">/</span>
        <input type="number" class="boxed-value" name="data.armor.front.max" value="{{data.armor.front.max}}" data-dtype="Number"/>
      </div>
      <progress class="armor-gauge" value="{{data.armor.front.value}}" max="{{data.armor.front.max}}"></progress>
      {{!-- Side --}}
      {{!-- <label class="armor-location">{{localize "T2K4E.VehicleSheet.SideArmor"}}</label>
      <div class="armor-values flexrow">
        <input type="number" class="boxed-value" name="data.armor.side.value" value="{{data.armor.side.value}}" data-dtype="Number"/>
        <span class="sep">/</span>
        <input type="number" class="boxed-value" name="data.armor.side.max" value="{{data.armor.side.max}}" data-dtype="Number"/>
      </div>
      <progress class="armor-gauge" value="{{data.armor.side.value}}" max="{{data.armor.side.max}}"></progress> --}}
      {{!-- Left --}}
      <label class="armor-location">{{localize "T2K4E.VehicleSheet.SideLeftArmor"}}</label>
      <div class="armor-values flexrow">
        <input type="number" class="boxed-value" name="data.armor.left.value" value="{{data.armor.left.value}}" data-dtype="Number"/>
        <span class="sep">/</span>
        <input type="number" class="boxed-value" name="data.armor.left.max" value="{{data.armor.left.max}}" data-dtype="Number"/>
      </div>
      <progress class="armor-gauge" value="{{data.armor.left.value}}" max="{{data.armor.left.max}}"></progress>
      {{!-- Right --}}
      <label class="armor-location">{{localize "T2K4E.VehicleSheet.SideRightArmor"}}</label>
      <div class="armor-values flexrow">
        <input type="number" class="boxed-value" name="data.armor.right.value" value="{{data.armor.right.value}}" data-dtype="Number"/>
        <span class="sep">/</span>
        <input type="number" class="boxed-value" name="data.armor.right.max" value="{{data.armor.right.max}}" data-dtype="Number"/>
      </div>
      <progress class="armor-gauge" value="{{data.armor.right.value}}" max="{{data.armor.right.max}}"></progress>
      {{!-- Rear --}}
      <label class="armor-location">{{localize "T2K4E.VehicleSheet.RearArmor"}}</label>
      <div class="armor-values flexrow">
        <input type="number" class="boxed-value" name="data.armor.rear.value" value="{{data.armor.rear.value}}" data-dtype="Number"/>
        <span class="sep">/</span>
        <input type="number" class="boxed-value" name="data.armor.rear.max" value="{{data.armor.rear.max}}" data-dtype="Number"/>
      </div>
      <progress class="armor-gauge" value="{{data.armor.rear.value}}" max="{{data.armor.rear.max}}"></progress>
    </div>
  </div>

  {{!-- DAMAGE --}}
  <div class="damage">
    <h3>{{localize "T2K4E.VehicleSheet.Damage"}}</h3>
    <textarea name="data.tempDamage" rows="4">{{data.tempDamage}}</textarea>
  </div>

</div>

<div class="inventory">

  {{!-- Primary Mounted Weapons --}}
  <div class="inventory-weapons">
    <div class="items-header flexrow">
      <div class="item-name">
        <h2>{{localize "T2K4E.VehicleSheet.MountedWeapons1"}}</h2>
      </div>
      <div class="item-detail item-type">
        <h5>{{localize "T2K4E.VehicleSheet.MountedWeaponType"}}</h5>
      </div>
      <div class="item-detail item-rof">
        <h5>{{localize "T2K4E.ItemSheet.RoF"}}</h5>
      </div>
      <div class="item-detail item-damage">
        <h5>{{localize "T2K4E.ItemSheet.Damage"}}</h5>
      </div>
      <div class="item-detail item-crit">
        <h5>{{localize "T2K4E.ItemSheet.Crit"}}</h5>
      </div>
      <div class="item-detail item-armor">
        <h5>{{localize "T2K4E.ItemSheet.Armor"}}</h5>
      </div>
      <div class="item-detail item-range">
        <h5>{{localize "T2K4E.ItemSheet.Range"}}</h5>
      </div>
      <div class="item-detail item-mag">
        <h5>{{localize "T2K4E.ItemSheet.Mag"}}</h5>
      </div>
      <div class="item-detail item-reliability">
        <h5>{{localize "T2K4E.ItemSheet.Reliability"}}</h5>
      </div>
      <div class="item-detail item-blast">
        <h5>{{localize "T2K4E.ItemSheet.Blast"}}</h5>
      </div>
      <div class="item-controls"></div>
    </div>
    <div class="items-list">
      {{#each mountedWeapons.primary}}
      {{> "systems/t2k4e/templates/actor/parts/slots/vehicle-weapon-slot.hbs" this}}
      {{else}}
      <div class="item">–</div>
      {{/each}}
    </div>
  </div>

  {{!-- Secondary Mounted Weapons --}}
  <div class="inventory-weapons">
    <div class="items-header flexrow">
      <div class="item-name">
        <h2>{{localize "T2K4E.VehicleSheet.MountedWeapons2"}}</h2>
      </div>
      <div class="item-detail item-type">
        <h5>{{localize "T2K4E.VehicleSheet.MountedWeaponType"}}</h5>
      </div>
      <div class="item-detail item-rof">
        <h5>{{localize "T2K4E.ItemSheet.RoF"}}</h5>
      </div>
      <div class="item-detail item-damage">
        <h5>{{localize "T2K4E.ItemSheet.Damage"}}</h5>
      </div>
      <div class="item-detail item-crit">
        <h5>{{localize "T2K4E.ItemSheet.Crit"}}</h5>
      </div>
      <div class="item-detail item-armor">
        <h5>{{localize "T2K4E.ItemSheet.Armor"}}</h5>
      </div>
      <div class="item-detail item-range">
        <h5>{{localize "T2K4E.ItemSheet.Range"}}</h5>
      </div>
      <div class="item-detail item-mag">
        <h5>{{localize "T2K4E.ItemSheet.Mag"}}</h5>
      </div>
      <div class="item-detail item-reliability">
        <h5>{{localize "T2K4E.ItemSheet.Reliability"}}</h5>
      </div>
      <div class="item-detail item-blast">
        <h5>{{localize "T2K4E.ItemSheet.Blast"}}</h5>
      </div>
      <div class="item-controls"></div>
    </div>
    <div class="items-list">
      {{#each mountedWeapons.secondary}}
      {{> "systems/t2k4e/templates/actor/parts/slots/vehicle-weapon-slot.hbs" this}}
      {{else}}
      <div class="item">–</div>
      {{/each}}
    </div>
  </div>

</div>
