<div class='components-list'>

  <div class='flexrow'>
    <div>
      <h3>{{localize 'T2K4E.VehicleSheet.InnerComponents'}}</h3>
    </div>
    <div>
      <h3>{{localize 'T2K4E.VehicleSheet.OuterComponents'}}</h3>
    </div>
  </div>

  <div class='flexrow'>

    {{! ================================================== }}
    {{!  Inner Components                                  }}
    {{! ================================================== }}

    <div class='inner-components'>

      {{! ================================================== }}

      {{! FUEL }}
      <div class='form-group'>
        <label class='checkbox'>
          <input type='checkbox' name='system.components.fuel.active' {{checked system.components.fuel.active}} />
          {{localize 'T2K4E.VehicleSheet.Components.fuel'}}
        </label>
        <input
          type='number'
          class='boxed-value'
          name='system.components.fuel.damage'
          value={{system.components.fuel.damage}}
          title='{{localize "T2K4E.VehicleSheet.ComponentDamage"}}'
          data-dtype='Number'
        />
      </div>

      <hr />

      {{! ================================================== }}

      {{! ENGINE }}
      <div class='form-group'>
        <label class='checkbox'>
          <input type='checkbox' name='system.components.engine.active' {{checked system.components.engine.active}} />
          {{localize 'T2K4E.VehicleSheet.Components.engine'}}
        </label>
        <input
          type='number'
          class='boxed-value'
          name='system.components.engine.damage'
          value={{system.components.engine.damage}}
          title='{{localize "T2K4E.VehicleSheet.ComponentDamage"}}'
          data-dtype='Number'
        />
      </div>

      <hr />

      {{! ================================================== }}

      {{! SUSPENSION }}
      <div class='form-group'>
        <label class='checkbox'>
          <input
            type='checkbox'
            name='system.components.suspension.active'
            {{checked system.components.suspension.active}}
          />
          {{localize 'T2K4E.VehicleSheet.Components.suspension'}}
        </label>
        <input
          type='number'
          class='boxed-value'
          name='system.components.suspension.damage'
          value={{system.components.suspension.damage}}
          title='{{localize "T2K4E.VehicleSheet.ComponentDamage"}}'
          data-dtype='Number'
        />
      </div>

      <hr />

      {{! ================================================== }}

      {{! AMMUNITION }}
      <div class='form-group'>
        <label class='checkbox'>
          <input
            type='checkbox'
            name='system.components.ammunition.active'
            {{checked system.components.ammunition.active}}
          />
          {{localize 'T2K4E.VehicleSheet.Components.ammunition'}}
        </label>
        <input
          type='number'
          class='boxed-value'
          name='system.components.ammunition.damage'
          value={{system.components.ammunition.damage}}
          title='{{localize "T2K4E.VehicleSheet.ComponentDamage"}}'
          data-dtype='Number'
        />
      </div>

      <hr />

      {{! ================================================== }}

      {{! RADIO }}
      <div class='form-group'>
        <label class='checkbox'>
          <input type='checkbox' name='system.components.radio.active' {{checked system.components.radio.active}} />
          {{localize 'T2K4E.VehicleSheet.Components.radio'}}
        </label>
        <div class='radio-reliability flexrow'>
          <input
            type='number'
            class='boxed-value'
            name='system.components.radio.reliability.value'
            value={{system.components.radio.reliability.value}}
            data-dtype='Number'
          />
          <span class='sep'>/</span>
          <input
            type='number'
            class='boxed-value'
            name='system.components.radio.reliability.max'
            value={{system.components.radio.reliability.max}}
            data-dtype='Number'
          />
        </div>
      </div>
    </div>

    {{! ================================================== }}
    {{!  Outer Components                                  }}
    {{! ================================================== }}

    <div class='outer-components'>

      {{! ================================================== }}

      {{! TRACK/WHEEL }}
      <div class='form-group'>
        <label class='checkbox'>
          <input
            type='checkbox'
            name='system.components.trackWheel.active'
            {{checked system.components.trackWheel.active}}
          />
          {{localize 'T2K4E.VehicleSheet.Components.trackWheel'}}
        </label>
        <input
          type='number'
          class='boxed-value'
          name='system.components.trackWheel.damage'
          value={{system.components.trackWheel.damage}}
          title='{{localize "T2K4E.VehicleSheet.ComponentDamage"}}'
          data-dtype='Number'
        />
      </div>

      <hr />

      {{! ================================================== }}

      {{! FIRE CONTROL SYSTEM }}
      <div class='form-group'>
        <label class='checkbox'>
          <input type='checkbox' name='system.components.fcs.active' {{checked system.components.fcs.active}} />
          {{localize 'T2K4E.VehicleSheet.Components.fcs'}}
        </label>
        <input
          type='number'
          class='boxed-value'
          name='system.components.fcs.damage'
          value={{system.components.fcs.damage}}
          title='{{localize "T2K4E.VehicleSheet.ComponentDamage"}}'
          data-dtype='Number'
        />
      </div>

      <div class='fcs-type'>
        <input
          type='text'
          name='system.components.fcs.type'
          value='{{system.components.fcs.type}}'
          placeholder='{{localize "T2K4E.VehicleSheet.FcsType"}}'
          title='{{localize "T2K4E.VehicleSheet.FcsType"}}'
        />
      </div>

      <hr />

      {{! ================================================== }}

      {{! ANTENNA }}
      <div class='form-group'>
        <label class='checkbox'>
          <input type='checkbox' name='system.components.antenna.active' {{checked system.components.antenna.active}} />
          {{localize 'T2K4E.VehicleSheet.Components.antenna'}}
        </label>
        <input
          type='number'
          class='boxed-value'
          name='system.components.antenna.damage'
          value={{system.components.antenna.damage}}
          title='{{localize "T2K4E.VehicleSheet.ComponentDamage"}}'
          data-dtype='Number'
        />
      </div>

      <hr />

      {{! ================================================== }}

      {{! SMOKE DISCHARGER }}
      <div class='form-group'>
        <label class='checkbox'>
          <input type='checkbox' name='system.smokeDischarger' {{checked system.smokeDischarger}} />
          {{localize 'T2K4E.VehicleSheet.HasSmokeDischarger'}}
        </label>
      </div>

      {{! TRAILER }}
      <div class='form-group'>
        <label class='checkbox'>
          <input type='checkbox' name='system.trailer' {{checked system.trailer}} />
          {{localize 'T2K4E.VehicleSheet.HasTrailer'}}
        </label>
      </div>

      {{! ================================================== }}

    </div>

  </div>

</div>