<div class="components-list">

  <div class="flexrow">
    <div>
      <h3>{{localize "T2K4E.VehicleSheet.InnerComponents"}}</h3>
    </div>
    <div>
      <h3>{{localize "T2K4E.VehicleSheet.OuterComponents"}}</h3>
    </div>
  </div>

  <div class="flexrow">

    {{!-- ================================================== --}}
    {{!--  Inner Components                                  --}}
    {{!-- ================================================== --}}

    <div class="inner-components">

      {{!-- ================================================== --}}

      {{!-- FUEL --}}
      <div class="form-group">
        <label class="checkbox">
          <input type="checkbox" name="data.components.fuel.active" {{checked data.components.fuel.active}}/>
          {{localize "T2K4E.VehicleSheet.Components.fuel"}}
        </label>
        <input type="number" class="boxed-value" name="data.components.fuel.damage" value={{data.components.fuel.damage}} title="{{localize "T2K4E.VehicleSheet.ComponentDamage"}}" data-dtype="Number"/>
      </div>

      <hr/>

      {{!-- ================================================== --}}

      {{!-- ENGINE --}}
      <div class="form-group">
        <label class="checkbox">
          <input type="checkbox" name="data.components.engine.active" {{checked data.components.engine.active}}/>
          {{localize "T2K4E.VehicleSheet.Components.engine"}}
        </label>
        <input type="number" class="boxed-value" name="data.components.engine.damage" value={{data.components.engine.damage}} title="{{localize "T2K4E.VehicleSheet.ComponentDamage"}}" data-dtype="Number"/>
      </div>

      <hr/>

      {{!-- ================================================== --}}

      {{!-- SUSPENSION --}}
      <div class="form-group">
        <label class="checkbox">
          <input type="checkbox" name="data.components.suspension.active" {{checked data.components.suspension.active}}/>
          {{localize "T2K4E.VehicleSheet.Components.suspension"}}
        </label>
        <input type="number" class="boxed-value" name="data.components.suspension.damage" value={{data.components.suspension.damage}} title="{{localize "T2K4E.VehicleSheet.ComponentDamage"}}" data-dtype="Number"/>
      </div>

      <hr/>

      {{!-- ================================================== --}}

      {{!-- AMMUNITION --}}
      <div class="form-group">
        <label class="checkbox">
          <input type="checkbox" name="data.components.ammunition.active" {{checked data.components.ammunition.active}}/>
          {{localize "T2K4E.VehicleSheet.Components.ammunition"}}
        </label>
        <input type="number" class="boxed-value" name="data.components.ammunition.damage" value={{data.components.ammunition.damage}} title="{{localize "T2K4E.VehicleSheet.ComponentDamage"}}" data-dtype="Number"/>
      </div>

      <hr/>

      {{!-- ================================================== --}}

      {{!-- RADIO --}}
      <div class="form-group">
        <label class="checkbox">
          <input type="checkbox" name="data.components.radio.active" {{checked data.components.radio.active}}/>
          {{localize "T2K4E.VehicleSheet.Components.radio"}}
        </label>
        <div class="radio-reliability flexrow">
          <input type="number" class="boxed-value" name="data.components.radio.reliability.value" value={{data.components.radio.reliability.value}} data-dtype="Number"/>
          <span class="sep">/</span>
          <input type="number" class="boxed-value" name="data.components.radio.reliability.max" value={{data.components.radio.reliability.max}} data-dtype="Number"/>
        </div>
      </div>
    </div>

    {{!-- ================================================== --}}
    {{!--  Outer Components                                  --}}
    {{!-- ================================================== --}}

    <div class="outer-components">

      {{!-- ================================================== --}}

      {{!-- TRACK/WHEEL --}}
      <div class="form-group">
        <label class="checkbox">
          <input type="checkbox" name="data.components.trackWheel.active" {{checked data.components.trackWheel.active}}/>
          {{localize "T2K4E.VehicleSheet.Components.trackWheel"}}
        </label>
        <input type="number" class="boxed-value" name="data.components.trackWheel.damage" value={{data.components.trackWheel.damage}} title="{{localize "T2K4E.VehicleSheet.ComponentDamage"}}" data-dtype="Number"/>
      </div>

      <hr/>

      {{!-- ================================================== --}}

      {{!-- FIRE CONTROL SYSTEM --}}
      <div class="form-group">
        <label class="checkbox">
          <input type="checkbox" name="data.components.fcs.active" {{checked data.components.fcs.active}}/>
          {{localize "T2K4E.VehicleSheet.Components.fcs"}}
        </label>
        <input type="number" class="boxed-value" name="data.components.fcs.damage" value={{data.components.fcs.damage}} title="{{localize "T2K4E.VehicleSheet.ComponentDamage"}}" data-dtype="Number"/>
      </div>

      <div class="fcs-type">
        <input type="text" name="data.components.fcs.type" value="{{data.components.fcs.type}}" placeholder="{{localize "T2K4E.VehicleSheet.FcsType"}}" title="{{localize "T2K4E.VehicleSheet.FcsType"}}"/>
      </div>

      <hr/>

      {{!-- ================================================== --}}

      {{!-- ANTENNA --}}
      <div class="form-group">
        <label class="checkbox">
          <input type="checkbox" name="data.components.antenna.active" {{checked data.components.antenna.active}}/>
          {{localize "T2K4E.VehicleSheet.Components.antenna"}}
        </label>
        <input type="number" class="boxed-value" name="data.components.antenna.damage" value={{data.components.antenna.damage}} title="{{localize "T2K4E.VehicleSheet.ComponentDamage"}}" data-dtype="Number"/>
      </div>

      <hr/>

      {{!-- ================================================== --}}

      {{!-- SMOKE DISCHARGER --}}
      <div class="form-group">
        <label class="checkbox">
          <input type="checkbox" name="data.smokeDischarger" {{checked data.smokeDischarger}}/>
          {{localize "T2K4E.VehicleSheet.HasSmokeDischarger"}}
        </label>
      </div>

      {{!-- TRAILER --}}
      <div class="form-group">
        <label class="checkbox">
          <input type="checkbox" name="data.trailer" {{checked data.trailer}}/>
          {{localize "T2K4E.VehicleSheet.HasTrailer"}}
        </label>
      </div>

      {{!-- ================================================== --}}

    </div>

  </div>

</div>