{{!-- Attributes & Skills --}}
<h2>{{localize "T2KLANG.ActorSheet.AttributesAndSkills"}}</h2>

{{!-- <div class="grid grid-2col" style="gap: 0;"> --}}
<div class="stats-list flexrow">
    {{#each data.attributes as |attribute attr|}}
    <div class="stat-block" style="flex: 0 0 250px;">
        <div class="stat-header flexrow">
            <div class="col-6"></div>
            <div class="col-3">
                <h5>{{localize "T2KLANG.ActorSheet.Rating"}}</h5>
            </div>
            <div class="col-3">
                <h5>{{localize "T2KLANG.ActorSheet.BaseDie"}}</h5>
            </div>
        </div>
        <div class="stat stat-attribute attribute-{{attr}} flexrow">
            <div class="col-6 stat-name">
                <h3>{{localize (concat "T2KLANG.AttributeNames." attr)}}</h3>
            </div>
            <div class="col-3 stat-score">
                {{> scoreSelector name=(concat "data.attributes." attr ".score") selected=attribute.score}}
            </div>
            <div class="col-3 stat-value">
                {{#if (lte attribute.value 0)}}–{{else}}D{{attribute.value}}{{/if}}
            </div>
        </div>
        {{!-- All skills for an attribute --}}
        {{#each @root.data.skills as |skill sk|}}
            {{#if (eq attr (lookup @root.config.skillsMap sk))}}
            <div class="stat stat-skill skill-{{sk}} flexrow">
                <div class="col-6 stat-name">
                    <h4>{{localize (concat "T2KLANG.SkillNames." sk)}}</h4>
                </div>
                <div class="col-3 stat-score">
                    {{> scoreSelector name=(concat "data.skills." sk ".score") selected=skill.score}}
                </div>
                <div class="col-3 stat-value">
                    {{#if (eq skill.value -1)}}–{{else}}D{{skill.value}}{{/if}}
                </div>
            </div>
            {{/if}}
        {{/each}}
    </div>
    {{/each}}
</div>

{{!-- Specialties --}}
<div class="flexrow">
    <h3>{{localize "T2KLANG.ActorSheet.Specialties"}}</h3>
    <a class="button item-create" data-type="specialty" title="{{localize "T2KLANG.ActorSheet.AddSpecialty"}}">
        <i class="fas fa-plus"></i>
    </a>
</div>

<div class="specialties-slots">
    {{#each specialties as |specialty id|}}
    <div class="item item-slot item-specialty flexrow" data-item-id={{specialty._id}}>
        <div>
            {{#if specialty.data.description}}
            <b><u>{{specialty.name}}</u>:</b> {{{specialty.data.description}}}
            {{else}}
                {{#if specialty.data.modifiersDescription}}
                <b><u>{{specialty.name}}</u>:</b> {{specialty.data.modifiersDescription}}
                {{else}}
                {{specialty.name}}
                {{/if}}
            {{/if}}
        </div>
        {{> "systems/t2k4e/templates/actors/parts/slots/slot-buttons.hbs"}}
    </div>
    {{else}}
    <p><i><small>{{localize "T2KLANG.ActorSheet.NoSpecialty"}}</small></i></p>
    {{/each}}
</div>