<div class="flexrow">

    {{!-- COMBAT --}}
    <div class="combat col-6">
        <h2>{{localize "T2K4E.ActorSheet.Combat"}}</h2>

        {{!-- CUF & Unit Morale --}}
        <div class="stat-block">

            {{!-- Stat Block: Header line --}}
            <div class="stat-header flexrow">
                <div class="col-6"></div>
                <div class="col-3 header-rating">
                    <h5>{{localize "T2K4E.ActorSheet.Rating"}}</h5>
                </div>
                <div class="col-3 header-die">
                    <h5>{{localize "T2K4E.ActorSheet.BaseDie"}}</h5>
                </div>
            </div>

            {{!-- Coolness Under Fire --}}
            <div class="stat stat-cuf flexrow">
                <div class="col-6 stat-name">
                    <h4><a class="button cuf-roll">{{localize "T2K4E.ActorSheet.CuF"}}</a></h4>
                </div>
                <div class="col-3 stat-score">
                    {{> scoreSelector name="data.cuf.score" selected=data.cuf.score}}
                </div>
                <div class="col-3 stat-value">
                    {{#if (lte data.cuf.value 0)}}–
                    {{else}}
                    <div class="boxed-value cuf-roll rollable">D{{data.cuf.value}}</div>
                    {{/if}}
                </div>
            </div>

            {{!-- Unit Morale --}}
            <div class="stat flexrow">
                <div class="col-6 stat-name">
                    <h4><a class="button unit-morale-roll">{{localize "T2K4E.ActorSheet.UnitMorale"}}</a></h4>
                </div>
                <div class="col-3 stat-score">
                    {{> scoreSelector name="data.unitMorale.score" selected=data.unitMorale.score}}
                </div>
                <div class="col-3 stat-value">
                    {{#if (lte data.unitMorale.value 0)}}–
                    {{else}}
                    <div class="boxed-value unit-morale-roll rollable">D{{data.unitMorale.value}}</div>
                    {{/if}}
                </div>
            </div>

        </div>

    </div>

    {{!-- ACTIONS --}}
    <div class="action col-6">
        <h2>{{localize "T2K4E.ActorSheet.Actions"}}</h2>

        {{!-- Header line --}}
        <div class="stat-header flexrow">
            <div class="col-8"></div>
            <div class="col-2 header-rating">
                <h5>{{localize "T2K4E.ActorSheet.Current"}}</h5>
            </div>
            <div class="col-2 header-die">
                <h5>{{localize "T2K4E.ActorSheet.Max"}}</h5>
            </div>
        </div>

        {{!-- Slow & Fast --}}
        {{#each data.actions as | action name |}}
        <div class="flexrow">
            <div class="action-name">{{localize (concat "T2K4E.ActionNames." name)}}</div>
            <div class="col-4 action-slider">
                <input type="range" name="data.actions.{{name}}.value" min="0" max="{{action.max}}" value="{{action.value}}"/>
            </div>
            <div class="col-2 action-value">{{action.value}}</div>
            <div class="col-2 action-max">
                <input type="number" name="data.actions.{{name}}.max" value="{{action.max}}"/>
            </div>
        </div>
        {{/each}}
    </div>

    {{!-- ARMOR --}}
    <div class="armor col-6">
        <h2>{{localize "T2K4E.ItemTypes.armor"}}</h2>
        <div class="flexcol">
            {{#each data.armorRating as | value location |}}
            <div class="flexrow">
                <div class="col-3">
                    <h4>{{localize (concat "T2K4E.ArmorLocationNames." location)}}</h4>
                </div>
                <div class="armor-names-list">
                    {{!-- {{#each ../armors as | armor |}}
                    {{#if (lookup armor.data.location location)}}
                    {{armor.name}},
                    {{/if}}
                    {{/each}} --}}
                </div>
                <div class="col-1">{{value}}</div>
            </div>
            {{else}}
            <p class="no-armor">{{localize "T2K4E.ActorSheet.NoArmor"}}</p>
            {{/each}}
        </div>
    </div>

    {{!-- CONDITIONS --}}
    {{#if (eq actor.type 'character')}}
    <div class="conditions col-6">
        <h2>{{localize "T2K4E.ActorSheet.Conditions"}}</h2>
        <div class="flexrow">
            {{#each data.conditions as | value condition |}}
            <div class="col-6">
                <label class="checkbox">
                    {{!-- <h4>{{localize (concat "T2K4E.ActorSheet.ConditionNames." condition)}}</h4> --}}
                    <input type="checkbox" name="data.conditions.{{condition}}" {{checked value}}/>
                    {{localize (concat "T2K4E.ConditionNames." condition)}}
                </label>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}

</div>

{{#if (eq actor.type 'character')}}
<div class="flexcol">

    <h3>{{localize "T2K4E.ActorSheet.CriticalInjuries"}}</h3>
    <textarea name="data.crits">{{data.crits}}</textarea>

    <h3>{{localize "T2K4E.ActorSheet.Diseases"}}</h3>
    <textarea name="data.diseases">{{data.diseases}}</textarea>

</div>
{{/if}}

{{!-- RADIATION --}}
{{#if (eq actor.type 'character')}}
<div class="radiation col-12">
    <h2>{{localize "T2K4E.ActorSheet.Radiation"}}</h2>
    <div class="flexrow">
        <div>
            <h3>{{localize "T2K4E.ActorSheet.TemporaryRadiation"}}</h3>
            {{> "systems/t2k4e/templates/actors/parts/radiation-boxes.hbs" field="temporary" value=data.rads.temporary}}
        </div>
        <div>
            <h3>{{localize "T2K4E.ActorSheet.PermanentRadiation"}}</h3>
            {{> "systems/t2k4e/templates/actors/parts/radiation-boxes.hbs" field="permanent" value=data.rads.permanent}}
        </div>
    </div>
</div>
{{/if}}