<div class="encumbrance {{#if data.overEncumbered}}overencumbered{{/if}}">
    {{#if data.overEncumbered}}
        {{localize "T2KLANG.ActorSheet.EncumbranceTooHeavy"}}
        {{#times 3}}&nbsp;<i class="fas fa-weight-hanging"></i>{{/times}}
    {{else}}
        <i class="fas fa-weight-hanging"></i>
    {{/if}}
    {{data.encumbrance.value}}&nbsp;/&nbsp;{{data.encumbrance.max}}
</div>

<div class="inventory">

    {{!-- Weapons --}}
    <div class="weapon-slots">
        <div class="inventory-header flexrow">
            <div>
                <h2>{{localize "T2KLANG.ActorSheet.Weapons"}}</h2>
            </div>
            <div class="col-1">
                <h5>{{localize "T2KLANG.ItemSheet.RoF"}}</h5>
            </div>
            <div class="col-1">
                <h5>{{localize "T2KLANG.ItemSheet.Damage"}}</h5>
            </div>
            <div class="col-1">
                <h5>{{localize "T2KLANG.ItemSheet.Crit"}}</h5>
            </div>
            <div class="col-1">
                <h5>{{localize "T2KLANG.ItemSheet.Armor"}}</h5>
            </div>
            <div class="col-1">
                <h5>{{localize "T2KLANG.ItemSheet.Range"}}</h5>
            </div>
            <div class="col-1">
                <h5>{{localize "T2KLANG.ItemSheet.Mag"}}</h5>
            </div>
            <div class="col-1">
                <h5>{{localize "T2KLANG.ItemSheet.Reliability"}}</h5>
            </div>
            <div class="col-1">
                <h5>{{localize "T2KLANG.ItemSheet.Blast"}}</h5>
            </div>
            <div class="col-1">
                <h5>{{localize "T2KLANG.ItemSheet.Weight"}}</h5>
            </div>
            <div class="col-1">
                <a class="button item-create" data-type="weapon" title="{{localize "T2KLANG.ActorSheet.AddWeapon"}}">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
        {{#each weapons}}
        {{> "systems/t2k4e/templates/actors/parts/slots/weapon-slot.hbs" weapon=.}}
        {{/each}}
        {{#each grenades}}
        {{> "systems/t2k4e/templates/actors/parts/slots/weapon-slot.hbs" weapon=.}}
        {{/each}}
    </div>

    {{!-- Armor --}}
    <div class="armor-slots">
        <div class="inventory-header flexrow">
            <div>
                <h2>{{localize "T2KLANG.ItemTypes.armor"}}</h2>
            </div>
            <div class="col-2">
                <h5>{{localize "T2KLANG.ActorSheet.Cover"}}</h5>
            </div>
            <div class="col-1">
                <h5>{{localize "T2KLANG.ActorSheet.Rating"}}</h5>
            </div>
            <div class="col-1">
                <h5>{{localize "T2KLANG.ItemSheet.Weight"}}</h5>
            </div>
            <div class="col-1">
                <a class="button item-create" data-type="armor" title="{{localize "T2KLANG.ActorSheet.AddArmor"}}">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
        {{#each armors}}
        {{> "systems/t2k4e/templates/actors/parts/slots/armor-slot.hbs" armor=.}}
        {{/each}}
    </div>

    {{!-- Gear --}}
    <div class="gear-slots">
        <div class="inventory-header flexrow">
            <div>
                <h2>{{localize "T2KLANG.ItemTypes.gear"}}</h2>
            </div>
            <div class="col-1">
                <h5>{{localize "T2KLANG.ItemSheet.Weight"}}</h5>
            </div>
            <div class="col-1">
                <a class="button item-create" data-type="gear" title="{{localize "T2KLANG.ActorSheet.AddGear"}}">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
        {{#each gears}}
        {{> "systems/t2k4e/templates/actors/parts/slots/gear-slot.hbs" gear=.}}
        {{/each}}
    </div>

    {{!-- Ammunitions --}}
    <div class="ammo-slots">
        <div class="inventory-header flexrow">
            <div>
                <h2>{{localize "T2KLANG.ItemTypes.ammunition"}}</h2>
            </div>
            <div class="col-1">
                <a class="button item-create" data-type="ammunition" title="{{localize "T2KLANG.ActorSheet.AddAmmo"}}">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="form-group-stacked">
            {{#each ammunitions}}
            {{> "systems/t2k4e/templates/actors/parts/slots/ammo-slot.hbs" ammo=.}}
            {{/each}}
        </div>
    </div>

</div>