<a class="boxes boxes-capacity" data-field="{{field}}" data-min="{{min}}" data-max="{{max}}">
{{#times max}}
  {{#if (gte ../value @index)}}
  {{!-- Full square --}}
  {{{@root.config.Icons.boxes.full}}}
  {{else}}
  {{!-- Empty square --}}
  {{{@root.config.Icons.boxes.empty}}}
  {{/if}}
{{/times}}
</a>