<div class="item item-ammo flexrow" data-item-id={{ammo._id}}>

    <div class="item-name flexrow">
        <img src="{{ammo.img}}" title="{{ammo.name}}" width="24" height="24"/>
        <div title="{{ammo.data.itemType}}">{{ammo.name}}</div>
    </div>
    <div class="item-detail item-quantity">{{ammo.data.qty}}&times;&nbsp;{{ammo.data.ammo.value}}/{{ammo.data.ammo.max}}</div>
    <div class="item-detail item-weight">{{ammo.data.encumbrance}}</div>

    <div class="item-controls">
        {{> "systems/t2k4e/templates/actors/parts/slots/slot-buttons.hbs"}}
    </div>

</div>