<div class="item-buttons">
  {{#unless @root.inVehicle}}
    {{#unless (eq type 'specialty')}}
    <a class="button item-equip{{#if data.equipped}} equipped{{/if}}" title="{{localize "T2K4E.ActorSheet.Equip"}}">
      {{#if data.equipped}}
      {{{@root.config.Icons.buttons.equip}}}
      {{else}}
      {{{@root.config.Icons.buttons.unequip}}}
      {{/if}}
    </a>
    <a class="button item-backpack{{#if data.backpack}} packed{{/if}}" title="{{localize 'T2K4E.ActorSheet.Store'}}">
      {{#if data.backpack}}
      {{{@root.config.Icons.buttons.stash}}}
      {{else}}
      {{{@root.config.Icons.buttons.stash}}}
      {{/if}}
    </a>
    {{/unless}}
  {{else}}
    {{#if (eq type 'weapon')}}
      {{#if data.isMounted}}
      <a class="button item-mount" title="{{localize 'T2K4E.VehicleSheet.Unmount'}}">
        {{{@root.config.Icons.buttons.unmount}}}
      </a>
      {{else}}
      <a class="button item-mount" title="{{localize 'T2K4E.VehicleSheet.Mount'}}">
        {{{@root.config.Icons.buttons.mount}}}
      </a>
      {{/if}}
    </a>
      {{#if data.isMounted}}
      <a class="button item-mount-move" title="{{localize 'T2K4E.VehicleSheet.MoveMount'}}">
        {{#if (lte data.mountSlot 1)}}
        {{{@root.config.Icons.buttons.primaryWeapon}}}
        {{else}}
        {{{@root.config.Icons.buttons.secondaryWeapon}}}
        {{/if}}
      </a>
      {{/if}}
    {{/if}}
  {{/unless}}
  <a class="button item-edit" title="{{localize "T2K4E.ActorSheet.Edit"}}">
    {{{@root.config.Icons.buttons.edit}}}
  </a>
  {{#unless data.isMounted}}
  <a class="button item-delete" title="{{localize "T2K4E.ActorSheet.Delete"}}">
    {{{@root.config.Icons.buttons.delete}}}
  </a>
  {{/unless}}
</div>