<div class="item item-weapon flexrow" data-item-id="{{id}}">

  <div class="item-name flexrow">
    <img class="item-roll" src="{{img}}" title="{{name}}" width="24" height="24"/>
    <a class="item-roll">{{detailedName}}</a>
  </div>
  {{#with data}}
  <div class="item-detail item-rof">{{data.rof}}</div>
  <div class="item-detail item-damage">{{data.damage}}</div>
  <div class="item-detail item-crit">{{data.crit}}</div>
  <div class="item-detail item-armor">{{#if (gte data.armorModifier 1)}}+{{/if}}{{data.armorModifier}}</div>
  <div class="item-detail item-range">{{data.range}}</div>
  {{#if data.mag.max}}
  <div class="item-detail item-mag">{{data.mag.max}}</div>
    {{!-- <input type="number" class="weapon-edit-ammo" value="{{data.mag.value}}" title="{{data.mag.value}}/{{data.mag.max}}"/> --}}
  {{!-- </div> --}}
  {{else}}
  <div class="item-detail item-mag" title="{{data.mag.value}}/{{data.mag.max}}">{{data.mag.value}}</div>
  {{/if}}
  <div class="item-detail item-reliability" title="{{data.reliability.value}}/{{data.reliability.max}}">{{data.reliability.value}}</div>
  <div class="item-detail item-blast">{{data.blast}}</div>
  <div class="item-detail item-weight" title="{{localize "T2K4E.ItemSheet.Quantity"}}: {{data.qty}}">{{data.encumbrance}}</div>

  <div class="item-controls">
    {{> "systems/t2k4e/templates/actors/parts/slots/slot-buttons.hbs"}}
  </div>
  {{/with}}

</div>